/*
Name: 			theme.css
Written by: 	Okler Themes - (http://www.okler.net)
Version: 		3.8.1
*/
html {
	direction: ltr;
}

body {
	background-color: white;
	color: #777777;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}

body a {
	outline: none !important;
}

li {
	line-height: 24px;
}

/* Responsive */
@media (max-width: 479px) {
	body {
		font-size: 13px;
	}
}
/* Header Container */

/* Header */
#header {
	background: #F6F6F6;
	background: -webkit-linear-gradient( #f6f6f6, white);
	background: linear-gradient( #f6f6f6, white);
	clear: both;
	border-top: 5px solid #EDEDED;
	min-height: 100px;
	padding: 8px 0;
}

#header > .container {
	height: 100px;
	margin-bottom: -35px;
	position: relative;
	display: table;
	max-width: 1170px;
}

#header > .navbar-collapse > .container {
	position: relative;
}









#header .social-icons {
	clear: right;
	float: right;
	margin-top: -3px;
	margin-left: 5px;
	position: relative;
}






#header nav {
	float: right;
}

#header nav ul.nav-top {
	margin: 10px 0 -10px;
	min-height: 62px;
}

#header nav ul.nav-top li span {
	display: block;
	line-height: 14px;
	margin-bottom: 2px;
	margin-right: 0;
	margin-top: 5px;
	padding: 8px 2px 8px 12px;
}

#header nav ul.nav-top li a, #header nav ul.nav-top li span {
	color: #999;
	font-size: 0.9em;
	padding: 6px 10px;
}

#header nav ul.nav-top li i {
	margin-right: 6px;
	position: relative;
	top: 1px;
}





/* Logo */
#header .logo {
	-webkit-transition: all 0.2s ease-in 0.2s;
	-moz-transition: all 0.2s ease-in 0.2s;
	transition: all 0.2s ease-in 0.2s;
	margin: 0;
	padding: 5px 0;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: transparent;
}

#header .logo a {
	position: relative;
	z-index: 1;
}

#header .logo img {
	position: relative;
	color: transparent;
}

/* Responsive Nav Button */
.btn-responsive-nav {
	display: none;
}

/* Sticky Menu */








@media (min-width: 992px) {
	#header nav {
		float: right;
	}

	#header nav ul.nav-main {
		margin: -7px 10px 8px 0;
	}

	#header nav ul.nav-main > li + li {
		margin-left: -4px;
	}

	#header nav ul.nav-main li a {
		font-size: 12px;
		font-style: normal;
		line-height: 20px;
		margin-left: 3px;
		margin-right: 3px;
		text-transform: uppercase;
		font-weight: 700;
		padding: 10px 13px;
	}

	#header nav ul.nav-main li a:hover {
		background-color: #F4F4F4;
	}

	#header nav ul.nav-main li a:focus {
		background: transparent;
	}

	#header nav ul.nav-main li a i.fa-caret-down {
		position: relative;
		top: -1px;
		margin-left: 2px;
	}

	#header nav ul.nav-main li ul a {
		text-transform: none;
		font-weight: normal;
		font-size: 0.9em;
	}


	#header nav ul.nav-main li.dropdown:hover > a {
		padding-bottom: 11px;
		margin-bottom: -1px;
	}

	#header nav ul.nav-main li.dropdown:hover > ul {
		display: block;
	}

	#header nav ul.nav-main li.dropdown:hover a.dropdown-toggle {
		border-radius: 5px 5px 0px 0px;
	}

	#header nav ul.nav-main ul.dropdown-menu {
		border: 0;
		border-top: 5px solid #CCC;
		border-radius: 0 6px 6px 6px;
		box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
		margin: 1px 0 0 3px;
		padding: 5px;
		top: auto;
		text-align: left;
		min-width: 200px;
	}

	#header nav ul.nav-main ul.dropdown-menu li:hover > a {
		filter: none;
		background: #F4F4F4;
	}

	#header nav ul.nav-main ul.dropdown-menu li:last-child > a {
		border-bottom: 0;
	}

	#header nav ul.nav-main ul.dropdown-menu > li > a {
		color: #777777;
		font-weight: 400;
		padding-bottom: 4px;
		padding-top: 4px;
		text-transform: none;
		position: relative;
		padding: 8px 20px 8px 5px;
		font-size: 0.9em;
		border-bottom: 1px solid #F4F4F4;
	}

	#header nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
		border-top: 0;
		border-radius: 6px;
		margin-left: 0;
		margin-top: -5px;
	}

	#header nav ul.nav-main .dropdown-submenu {
		position: relative;
	}

	#header nav ul.nav-main .dropdown-submenu > .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		border-radius: 0 6px 6px 6px;
	}

	#header nav ul.nav-main .dropdown-submenu .fa-caret-down {
		display: none;
	}

	#header nav ul.nav-main .dropdown-submenu > a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: #FFF;
		margin-top: 5px;
		margin-right: -10px;
		position: absolute;
		top: 8px;
		right: 15px;
	}



	#header nav ul.nav-main .dropdown-submenu:hover > .dropdown-menu {
		display: block;
	}

	#header nav ul.nav-main .dropdown-submenu:hover > a:after {
		border-left-color: #FFF;
	}

	#header .nav-main-collapse {
		overflow-y: visible;
	}




}
/* Header Mega Menu */
@media (min-width: 992px) {
	#header nav.mega-menu .nav, #header nav.mega-menu .dropdown {
		position: static;
	}










	#header nav.mega-menu .dropdown-menu {
		left: auto;
	}

	#header nav.mega-menu .dropdown-menu > li {
		display: block;
	}







}
/* Header Flat Menu */
@media (min-width: 992px) {














	/* Header Flat Menu - Sticky Menu / Boxed */








}
/* Header Single Menu */
@media (min-width: 992px) {










	/* Header Single Menu - Sticky Menu / Boxed */





}
/* Header Clean Top */
@media (min-width: 992px) {


	/* Header Clean Top - Sticky Menu / Boxed */
}
/* Header Colored */
@media (min-width: 992px) {







	/* Header Colored - Sticky Menu / Boxed */

}
/* Header Darken Top Border */
@media (min-width: 992px) {


	/* Header Darken Top Border - Sticky Menu / Boxed */


}
/* Header Center */
@media (min-width: 992px) {



}

@media (max-width: 991px) {

}
/* Header Center - Sticky Menu */
@media (min-width: 992px) {




}
/* Header Narrow */
@media (min-width: 992px) {













}

@media (max-width: 991px) {




}
/* Header Nav Bar */
@media (min-width: 992px) {








}
/* Header Transparent */







@media (min-width: 992px) {

}
/* Header Full-Width */
@media (min-width: 992px) {
}
/* Mega Menu (Signin/SignUp) */























/* Responsive */
@media (max-width: 991px) {








}
/* Responsive */
@media (max-width: 991px) {
	/* Header */
	#header {
		clear: both;
	}

	#header > .container {
		margin-bottom: 0;
	}

	#header .social-icons {
		display: none;
	}



	#header .nav-main-collapse {
		top: 8px;
		position: relative;
		background: #171717;
		max-height: none;
		width: 100%;
		overflow: hidden;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	#header .nav-main-collapse.collapse {
		display: none !important;
	}


	#header .nav-main {
		padding: 10px 0;
		clear: both;
		display: block;
		float: none;
		width: 100%;
	}

	#header .nav-main ul {
		padding: 0;
		margin: 0;
	}

	#header .nav-main ul li {
		padding: 0;
		margin: 0;
		clear: both;
		float: none;
		display: block;
		border-bottom: 1px solid #2A2A2A;
		position: relative;
	}

	#header .nav-main ul li a {
		color: #FFF;
		font-size: 13px;
	}


	#header .nav-main ul li:last-child {
		border-bottom: none;
	}

	#header .nav-main ul ul {
		margin-left: 20px !important;
	}

	#header .nav-main ul.nav-main {
		float: none;
		position: static;
		margin: 8px 0;
		margin-right: -10px;
	}

	#header .nav-main ul.dropdown-menu {
		position: static;
		clear: both;
		float: none;
		display: none !important;
		border: 0;
	}



	#header nav ul.nav-main > li + li {
		margin-left: 0;
	}

	#header nav ul.nav-main li a {
		clear: both;
		float: none;
		display: block;
		padding: 9px 8px !important;
		border: 0;
		border-top: 0;
		margin: 0;
	}

	#header nav ul.nav-main li a i.fa-caret-down {
		position: absolute;
		right: 0;
		top: 2px;
		min-width: 30px;
		min-height: 38px;
		text-align: center;
		line-height: 35px;
	}

	#header nav ul.nav-main li.dropdown:hover > a {
		margin: 0;
		padding: 9px 8px !important;
	}

	#header nav ul.nav-main ul.dropdown-menu {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		margin-bottom: 15px;
	}

	#header nav ul.nav-main ul.dropdown-menu li > a {
		padding: 9px 8px;
		border: 0;
		border-top: 0;
		margin: 0;
		border-bottom: none;
	}


	#header nav ul.nav-main .dropdown-submenu i.fa-caret-down {
		border: 0 none;
		color: #fff;
		content: "\f0d7";
		font-family: FontAwesome;
		font-size: 13px;
		left: auto;
		margin-top: 0;
		position: absolute;
		right: -3px;
		top: 0;
		z-index: 2;
		width: 35px;
		text-align: center;
		line-height: 35px;
	}

	#header nav ul.nav-main .dropdown-submenu:hover > a:after {
		border-left-color: transparent;
	}


	body #header nav ul.nav-main ul.dropdown-menu {
		background: none !important;
		background-color: transparent !important;
	}

	body #header nav ul.nav-main li a, body #header nav ul.nav-main li > a:hover, body #header nav ul.nav-main li.active a, body #header nav ul.nav-main li.dropdown:hover a {
		background: none !important;
		background-color: transparent !important;
	}

	body #header nav ul.nav-main ul.dropdown-menu li:hover > a, body #header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
		background: none !important;
		background-color: transparent !important;
	}




	/* Responsive Button Nav */
	.btn-responsive-nav {
		background: #171717;
		top: 55px;
		display: block;
		position: absolute;
		right: 20px;
		color: #FFF;
		z-index: 1;
	}

	.btn-responsive-nav:hover, .btn-responsive-nav:active, .btn-responsive-nav:focus {
		color: #CCC;
		outline: none;
	}

	/* Logo */
	#header .logo img {
		max-width: 180px;
		max-height: none !important;
		height: auto !important;
	}

	/* Nav Top */
}

@media (max-width: 767px) {
	/* Header */
	#header {
		display: block;
	}

	#header > .container {
		width: 100%;
	}

	#header .social-icons {
		display: none;
	}

	#header nav ul.nav-top {
		float: right;
		margin-right: 0;
	}


	/* Responsive Button Nav */
	.btn-responsive-nav {
		top: 55px;
	}

}

@media (max-width: 479px) {
	#header nav ul.nav-top {
		display: none;
	}
}

@media (max-width: 600px) {
	/* Header */
	#header nav ul.nav-top li {
		display: none;
	}

}

@media (min-width: 992px) {





}


/* Page Header */
.page-header {
	background-color: #171717;
	border-bottom: 5px solid #CCC;
	border-top: 5px solid #384045;
	margin: 0 0 35px 0;
	min-height: 50px;
	padding: 20px 0;
	position: relative;
	text-align: left;
}

.page-header .breadcrumb {
	background: none;
	margin: -3px 0 0;
	padding: 0;
}

.page-header .breadcrumb > li {
	text-shadow: none;
}


.page-header h1 {
	border-bottom: 5px solid #CCC;
	color: #FFF;
	display: inline-block;
	font-weight: 200;
	margin: 0 0 -25px;
	min-height: 37px;
	font-size: 2.6em;
	line-height: 46px;
	padding: 0 0 17px;
	position: relative;
}



/* Page Header - More Padding */

/* Page Header - Color */




/* Page Header - Light */


/* Page Header - Reverse */


/* Page Header - Parallax */



/* Page Header Custom Background */






/* Page Header Custom - Create your Own */





/* Responsive */
@media (max-width: 991px) {
	.page-header .breadcrumb {
		margin: 20px 0 0;
		float: none !important;
		position: static !important;
	}
}

@media (max-width: 479px) {
	.page-header {
		padding: 16px 0;
	}

	.page-header h1 {
		line-height: 37px;
	}
}









.text-uppercase {
	text-transform: uppercase;
}







/* Spacements */
/* spacement top & bottom */








/* spacement top	*/


.mt-sm {
	margin-top: 10px !important;
}


.mt-lg {
	margin-top: 20px !important;
}


.mt-xlg {
	margin-top: 30px !important;
}

/* spacement bottom	*/
.mb-none {
	margin-bottom: 0 !important;
}

.mb-xs {
	margin-bottom: 5px !important;
}

.mb-sm {
	margin-bottom: 10px !important;
}


.mb-lg {
	margin-bottom: 20px !important;
}

.mb-xl {
	margin-bottom: 25px !important;
}

.mb-xlg {
	margin-bottom: 30px !important;
}

/* spacement left	*/







/* spacement right	*/







/* Spacement Padding */







/* spacement top	*/







/* spacement bottom	*/







/* spacement left	*/







/* spacement right	*/











/* Parallax */
.parallax {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 70px 0;
	padding: 50px 0;
	position: relative;
	clear: both;
}

.parallax blockquote {
	border: 0;
	padding: 0 10%;
}


.parallax blockquote p {
	font-size: 24px;
	line-height: 30px;
}




/* Responsive */
@media (max-width: 991px) {
	.parallax {
		background-attachment: scroll !important;
		background-position: 50% 50% !important;
	}
}
/* Section Featured */
section.section {
	background: #f4f4f4;
	border-top: 5px solid #f1f1f1;
	margin: 30px 0;
	padding: 50px 0;
}

section.section.section-center {
	text-align: center;
}







section.section.section-parallax {
	border: 0;
}



section.section.section-footer {
	margin-bottom: -50px;
}

/* Responsive */
@media (max-width: 991px) {


}
/* Sidebar */

/* Home Slider - Revolution Slider */
.slider-container {
	background: #171717;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 1;
}

.slider-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.slider-container .top-label {
	color: #FFF;
	font-size: 36px;
	font-weight: 300;
}

.slider-container .main-label {
	color: #FFF;
	font-size: 93px;
	line-height: 62px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}


.slider-container .bottom-label {
	color: #FFF;
	font-size: 30px;
	font-weight: 300;
}


.slider-container .tp-caption {
	opacity: 0;
}

.slider-container .tp-caption a {
	color: #FFF;
}

.slider-container .tp-caption a:hover {
	color: #FFF;
}



.slider-container.light {
	background-color: #EAEAEA;
}


.slider-container.light .top-label, .slider-container.light .main-label, .slider-container.light .bottom-label {
	color: #333;
}



/* Responsive */
@media (max-width: 991px) {
	.slider-container {
		min-height: 0;
	}
}

.slider {
	height: 495px;
	max-height: 495px;
	position: relative;
}

.slider > ul > li > img {
	visibility: hidden;
}


.slider .tp-bannertimer {
	display: none;
}




/* Home Slider - Nivo Slider */





/* Slider With Overlay */


/* Slider Contact Form */





/* Responsive */
@media (min-width: 992px) {
}
/* Custom Map */
section.section-custom-map {
	background: transparent url(../img/map.png) center 0 no-repeat;
	padding: 129px 0 0;
	margin: 20px 0 0;
	border: 0;
}

section.section-custom-map section.section {
	border-top-color: rgba(241, 241, 241, 0.8);
	background: rgba(244, 244, 244, 0.8);
}

/* Home Intro */
.home-intro {
	background-color: #171717;
	margin-bottom: 60px;
	overflow: hidden;
	padding: 20px 0 10px 0;
	position: relative;
	text-align: left;
}

.home-intro p {
	color: #FFF;
	display: inline-block;
	font-size: 1.4em;
	font-weight: 300;
	max-width: 800px;
	padding-top: 5px;
}

.home-intro p span {
	color: #999;
	display: block;
	font-size: 0.8em;
	padding-top: 5px;
}

.home-intro p em {
	font-family: "Shadows Into Light", cursive;
	font-size: 1.6em;
}

.home-intro .get-started {
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
	text-align: right;
}

.home-intro .get-started .btn {
	position: relative;
	z-index: 1;
}





.home-intro.light {
	background-color: #E2E2E2;
}


.home-intro.light p {
	color: #777777;
}

/* Home Intro Compact */



/* Responsive */
@media (max-width: 767px) {
	/* Home Intro */
}
/* Home Concept */
.home-concept {
	background: transparent url(../img/home-concept.png) no-repeat center 0;
	width: 100%;
	overflow: hidden;
}

.home-concept strong {
	display: block;
	font-family: "Shadows Into Light", cursive;
	font-size: 2.1em;
	font-weight: normal;
	position: relative;
	margin-top: 30px;
}

.home-concept .row {
	position: relative;
}

.home-concept .process-image {
	background: transparent url(../img/home-concept-item.png) no-repeat 0 0;
	width: 160px;
	height: 175px;
	margin: 135px auto 0 auto;
	padding-bottom: 50px;
	position: relative;
	z-index: 1;
}

.home-concept .process-image img {
	border-radius: 150px;
	margin: 7px 8px;
}

.home-concept .our-work {
	margin-top: 52px;
	font-size: 2.6em;
}

.home-concept .project-image {
	background: transparent url(../img/home-concept-item.png) no-repeat 100% 0;
	width: 350px;
	height: 420px;
	margin: 15px 0 0 -30px;
	padding-bottom: 45px;
	position: relative;
	z-index: 1;
}

.home-concept .sun {
	background: transparent url(../img/home-concept-icons.png) no-repeat 0 0;
	width: 60px;
	height: 56px;
	display: block;
	position: absolute;
	left: 10%;
	top: 35px;
}

.home-concept .cloud {
	background: transparent url(../img/home-concept-icons.png) no-repeat 100% 0;
	width: 116px;
	height: 56px;
	display: block;
	position: absolute;
	left: 57%;
	top: 35px;
}

/* Responsive */
@media (max-width: 991px) {
	.home-concept {
		background: none;
	}

	.home-concept .project-image {
		margin: 60px auto 0 auto;
	}

	.home-concept .process-image {
		margin-top: 60px;
	}
}

@media (max-width: 479px) {
	.home-concept .project-image {
		background-position: 0 0;
		margin-left: auto;
		max-width: 160px;
		max-height: 220px;
	}

	.home-concept .fc-slideshow {
		max-height: 145px;
		max-width: 145px;
	}

	.home-concept .fc-slideshow img {
		max-height: 145px;
		max-width: 145px;
	}
}
/* Page 404 */




/* Responsive */
@media (max-width: 479px) {

}
/* #Footer */
#footer {
	background: #0e0e0e;
	border-top: 4px solid #0e0e0e;
	font-size: 0.9em;
	margin-top: 50px;
	padding: 70px 0 0;
	position: relative;
	clear: both;
}

#footer .container .row > div {
	margin-bottom: 25px;
}

#footer .container input:focus {
	box-shadow: none;
}

#footer a:hover {
	color: #CCC;
}

#footer h4, #footer a {
	color: #FFF !important;
}

#footer h4 {
	font-size: 1.8em;
	font-weight: 200;
}






#footer form {
	filter: alpha(opacity=85);
	opacity: 0.85;
}



#footer .footer-ribbon {
	background: #999;
	position: absolute;
	margin: -90px 0 0 14px;
	padding: 10px 20px 6px 20px;
}

#footer .footer-ribbon:before {
	border-right: 10px solid #646464;
	border-top: 16px solid transparent;
	content: "";
	display: block;
	height: 0;
	left: -10px;
	position: absolute;
	top: 0;
	width: 7px;
}

#footer .footer-ribbon span {
	color: #FFF;
	font-size: 1.6em;
	font-family: "Shadows Into Light", cursive;
}

#footer .newsletter form {
	width: 100%;
	max-width: 262px;
}

#footer .newsletter form input.form-control {
	height: 34px;
	padding: 6px 12px;
}










#footer .contact {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .contact i {
	display: block;
	float: left;
	font-size: 1.2em;
	margin: 7px 8px 10px 0;
	position: relative;
	text-align: center;
	top: -2px;
	width: 16px;
}

#footer .contact i.fa-envelope {
	font-size: 1em;
	top: 0;
}

#footer .contact p {
	margin-bottom: 10px;
}

#footer .logo {
	display: block;
}


#footer .footer-copyright {
	background: #060606;
	border-top: 4px solid #060606;
	margin-top: 40px;
	padding: 30px 0 10px;
}

#footer .footer-copyright nav {
	float: right;
}

#footer .footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .footer-copyright nav ul li {
	border-left: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}

#footer .footer-copyright nav ul li:first-child {
	border: medium none;
	padding-left: 0;
}

#footer .footer-copyright p {
	color: #555;
	margin: 0;
	padding: 0;
}
























/* Responsive */
@media (max-width: 991px) {
}

@media (max-width: 767px) {
	/* Footer */
}
/* Dark Version */



















































































































































































/* Responsive */
@media (max-width: 991px) {
}
/* Boxed Layout */





/* Responsive */
@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
	/* Boxed */
}
